.navbar {
  padding: 0.5rem;
  gap: 2rem;
}

.navbar li:not(:last-child) {
  margin-bottom: 5px;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar a:hover .svg-container {
  background-color: black;
  fill: white;
}
